apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: api:latest
          ports:
            - containerPort: 5000
          envFrom:
            - configMapRef:
                name: ccw-config
          resources:
            requests:
              memory: "256Mi"
              cpu: "1000m" 
            limits:
              memory: "1024Mi"
              cpu: "2000m" 
---
apiVersion: v1
kind: Service
metadata:
  name: api
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 5000
  selector:
    app: api
